body {
  background-color: lightblue;
  font-family: sans-serif;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  justify-content: space-around;
  background-color: red;
}
